*

!.gitignore

!LICENSE

!README

!requirements.txt

!src
!src/main.py
!src/utils
!src/utils/dataframe_treatment.py
!src/utils/constants.py
!src/utils/model_71_columns.txt
!src/utils/paths.py
!src/utils/reading.py
!src/utils/ai_process.py

!data
!data/cleaned_data
!data/cleaned_data/cleaned_data.xlsx
!data/cleaned_data/cleaned_IFPE_10.xlsx
!data/cleaned_data/validation_cleaned_IFPE_10.xlsx
!data/raw_data
!data/raw_data/IFPE_01.xlsx
!data/raw_data/IFPE_02.xlsx
!data/raw_data/IFPE_03.xlsx
!data/raw_data/IFPE_04.xlsx
!data/raw_data/IFPE_05.xlsx
!data/raw_data/IFPE_06.xlsx
!data/raw_data/IFPE_07.xlsx
!data/raw_data/IFPE_08.xlsx
!data/raw_data/IFPE_09.xlsx
!data/raw_data/IFPE_10.xlsx

!notebooks
!notebooks/data_preprocessing.ipynb
!notebooks/train_test_model.ipynb

!models
!models/GBM_71c_a0.8207941483803552.joblib
!models/scalers
!models/scalers/std_scaler_GBM_71c_a0.8207941483803552.pkl