*

!.gitignore

!LICENSE

!README

!requirements.txt

!src
!src/main.py
!src/utils
!src/utils/utils.py
!src/utils/constants.py

!data
!data/cleaned_datas
!data/cleaned_datas/cleaned_data.xlsx
!data/cleaned_datas/cleaned_data_documentacao_correta.xlsx
!data/cleaned_datas/cleaned_IFPE_10.xlsx
!data/cleaned_datas/sorted_cleaned_data.xlsx
!data/IFPE_01.xlsx
!data/IFPE_02.xlsx
!data/IFPE_03.xlsx
!data/IFPE_04.xlsx
!data/IFPE_05.xlsx
!data/IFPE_06.xlsx
!data/IFPE_07.xlsx
!data/IFPE_08.xlsx
!data/IFPE_09.xlsx
!data/IFPE_10.xlsx

!notebooks
!notebooks/data_preprocessing.ipynb
!notebooks/train_test_model.ipynb